target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources/c18312ad-081d-4b8b-b89e-f073ff9ee113.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/c18312ad-081d-4b8b-b89e-f073ff9ee113/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/c18312ad-081d-4b8b-b89e-f073ff9ee113/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/c18312ad-081d-4b8b-b89e-f073ff9ee113/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/c18312ad-081d-4b8b-b89e-f073ff9ee113/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/uiDesigner.xml
/.idea/dataSources/460e9df4-7102-4f0b-9121-e8b43e37e847.xml
/.idea/dataSources/460e9df4-7102-4f0b-9121-e8b43e37e847/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/460e9df4-7102-4f0b-9121-e8b43e37e847/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
/.idea/dataSources/460e9df4-7102-4f0b-9121-e8b43e37e847/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/460e9df4-7102-4f0b-9121-e8b43e37e847/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/460e9df4-7102-4f0b-9121-e8b43e37e847/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/460e9df4-7102-4f0b-9121-e8b43e37e847/storage_v2/_src_/schema/sys.zb4BAA.zip
